
<div class="container">
    <h1> Notes </h1>
   <form method="POST" id="form">
       {% csrf_token %}
       <div class="form-group">
           <label for="title">
               Title
           </label>
           <input type="text" class="form-control" id="title">
       </div>

       <div class="form-group">
           <label for="deadline">Note</label>
           <input class="form-control" type='date' id="deadline" rows="3"></date>
       </div>
       <button type="submit">Submit </button>
   </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    let form = document.getElementById('form'); // selecting the form
    
    form.addEventListener('submit', function(event) { // 1
        event.preventDefault()
        
        let data = new FormData(); // 2
        
        data.append("title", document.getElementById('title').value)  
        data.append("deadline", document.getElementById('deadline').value)
        data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3
        
        axios.post('create_note/', data) // 4
         .then(res => alert("Form Submitted")) // 5
         .catch(errors => console.log(errors)) // 6
    
    })
    
    </script>